@page "/boards"

@inject IBoardService BoardService
@attribute [Authorize]
<h3>BoardsList</h3>
<button @onclick="@(() => ShowBoardForm())" class="btn btn-primary">Create Board</button>

@if(BoardService.Boards.Count > 0)
{
    <table class="table">
    @foreach(var board in BoardService.Boards)
    {
        <tr>
            <td>@board.Name</td>
            <td>@board.Description</td>
            <td>@board.OwnerId</td>
        </tr>
    }
    </table>
}
@code {
    [CascadingParameter] public IModalService Modal { get; set; }


    protected override async Task OnInitializedAsync()
    {
        BoardService.OnChange += StateHasChanged;
        await BoardService.LoadBoardsAsync();
    }
    public void Dispose()
    {
        BoardService.OnChange -= StateHasChanged;
    }
    public void ShowBoardForm()
    {
        Modal.Show<BoardForm>("Create Board");
    }
}
