@inject AuthenticationStateProvider authProvider
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
            var authState = await authProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            user.Claims.ToList().ForEach(c => Console.WriteLine($"{c.Type} {c.Value}"));
    }
}
