@page "/"
@inject IRestApiClient RestClient
@inject IToastService ToastService

<PageTitle>Index</PageTitle>

<h1>Welcome to Amazing Kanban!</h1>
<br/>
<p>Our source code can be found on <a href="https://github.com/Kejom/AmazingKanban">GitHub</a></p>